@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
.tab-content .tab-pane .name-input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

input[validate="error"] {
  border-color: #FFBABA ;
  border-style: solid;
  border-width: 1px;
}

input[validate=""] {
  border-color:rgb(238, 238, 238);
  border-style: solid;
  border-width: 2px;
}

.main-sidebar {
  height: 100%;
  position: fixed !important;
}

.main-header {
  position: fixed !important;
  width: 100%;
}

.content-wrapper {
  overflow: auto;
  padding-top: 65px;
}

.app-dashboard {
  border: none;
}

.multi-step {
  height: calc(100% - 55px);
  overflow-y: scroll;
}
.multistep-page {
  margin: auto;
  width: 70%;
  max-height: calc(100% - 65px);
  min-height: calc(100% - 130px);
  overflow-y: scroll;
}

/* width */
#addapp::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
#addapp::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
/* Handle on hover */
#addapp::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}


.form-input {
  width: 100%;
  height: 38px;
}

.input-textarea {
  width: 100%;
  height: 114px !important;
  resize: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.add-application-modal {
  width: 80vw !important; /* Occupy the 90% of the screen width */
  height: 90vh !important;
  overflow: hidden !important;
  max-width: 1200;
}

@media (min-width: 992px) {
  .add-application-modal {
    min-height: 500px;
    max-height: 800px;
  }
}

.modal-content {
  height: 100% !important;
}

.add-app-modal-body {
  padding: 0 !important;
}

.add-app-container {
  padding: 0 !important;
}

.add-app-row {
  /* display: table !important;
    width: 100% !important; */
  margin: 0 !important;
}

.add-app-col {
  height: 100% !important;
  padding: 0 !important;
}

.add-app-container,
.add-app-modal-body,
.add-app-row {
  height: 100% !important;
}

.add-app-header-col {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );

}

.add-app-header-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 55%;
}

.add-app-header-content img {
  width: 70%;
  height: auto;
  margin: auto;
  position: relative;
  display: block;
}
.add-app-header-content h6 {
  text-align: center;
  color: white;
  font-size: 15px;
}
.add-app-header-content h3 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.add-app-modal-title {
  color: #4288CC !important;
}

button.close {
  color: rgba(0, 0, 0, 1) !important;
  opacity: 0.5;
}

/* Stepper Rebranding */

.progtrckr {
  display: flex;
  list-style: none;
  height: 50px;
  width: auto !important;
  margin: 1px 0px 10px 0px !important; 
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
}
.progtrckr::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  content: "";
  /* width: calc(100% - 20px); */
  background: #e7e7e7;
}

ol.progtrckr li {
  border-bottom: none !important;
  display: flex !important;
  align-items: center;
  line-height: unset !important;
  pointer-events:none;

}
.progtrckr-doing,
.progtrckr-todo,
.progtrckr-done {
  flex: 100%;
  padding: 0px;
  margin: 0 0 0 calc((100%/5) * -0.15);
  -webkit-clip-path: polygon(
    86% 0,
    100% 50%,
    85% 100%,
    0% 100%,
    15% 50%,
    0% 0%
  );
  clip-path: polygon(86% 0, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.progtrckr-done span {
  margin: auto;
  color: white;
  opacity: 1;
}

.progtrckr-doing span  {
  color:  #4288CC;
  margin: auto;
  opacity: 1;
}

.progtrckr-todo span{
 margin: auto;
color: black;
opacity: 0.5;

}

.progtrckr-todo {
    background : rgba(0, 0, 0, 0.07);   
}
.progtrckr-doing {
  font-weight: bold;
  background : rgba(0, 0, 0, 0.07);  
  border-width: 1px;
}
.progtrckr-done {
    background : #4288CC
}

.progtrckr-done[value="0"],
.progtrckr-todo[value="0"],
.progtrckr-doing[value="0"] {
  padding: 0px;
  margin: 0px;
  -webkit-clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 0 50%, 0% 0%);
clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 0 50%, 0% 0%);
}

.progtrckr-done[value="4"],
.progtrckr-todo[value="4"],
.progtrckr-doing[value="4"] {
  padding: 0px;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}


ol.progtrckr li:before {
  display: none;
}

.footer-primary {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.footer-secondary {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.add-app-footer {
  position: absolute;
  width: 70%;
  height: 50px;
  bottom: 10px;
}

.add-app-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.add-app-dummy-div {
  height: 80px;
  width: 100%;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.align-right {
  display: block !important;
  margin-left: auto
}

.error {
  margin: auto;
  text-align: center;
  padding: 20px;
  color: red;
  width: 70%;
}

.small-box.bg-blue-black  .inner {
    height: 104px
}

#autoscalers #autoscaler_update {
  position: absolute;
  right: 10px;
  top: -5px;
  display: block;
}

.react-select__control {
  min-height: 38px !important;
}
.react-select__control .react-select__indicator {
  height: 28px;
  margin: auto;
}

.react-select__control .react-select__value-container {
  min-height: 28px !important;
}

.react-select__control .react-select__multi-value {
  min-height: 28px;
  height : 28px;
}

.react-select__control .react-select__multi-value .react-select__multi-value__label {
  margin: auto;
}

.react-select__control .react-select__multi-value .react-select__multi-value__remove svg path {
  fill: darkgray;
}

.react-select__indicator svg path {
  fill: darkgray;
}

.react-select__indicator svg {
  margin: 0px 20px !important;
}