body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
	user-select: none;
}
svg {
	box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.3);
	border-radius: 5px;
	margin: 20px;
}
svg path {
	fill: none;
}
svg circle {
	fill: white;
	stroke: #aaa;
	cursor: move;
}
svg .points-menu g {
	opacity: 0.2;
}
svg .points-menu g.active {
	cursor: pointer;
	opacity: 1;
}
svg .points-menu line {
	stroke: #777;
	stroke-width: 3;
}
svg .points-menu rect {
	fill: white;
}
.click-circle {
    fill: steelblue;
}
.side {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-top: 20px;
	width: 530px;
	color: #444;
}
.side .header {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	color: #aaa;
	width: 100%;
}
.menus .item {
	padding: 5px;
	border: 1px solid #ddd;
	margin: 4px 2px;
	float: left;
	cursor: pointer;
	border-radius: 8px;
	width: 160px;
	text-align: center;
}
.side .info {
	float: left;
	margin-top: 20px;
	line-height: 1.5em;
}